#include "watahaku_17.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

&trackball_listener {
    // Normal mode: Balanced speed (1.5x)
    input-processors = <
        &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
        &zip_xy_scaler 3 2  // 1.5x speed
        &auto_mouse_layer 1 2000  // Activate layer 1 for 2 seconds on movement
    >;

    // Layer 2: Scroll mode
    scroller {
        layers = <2>;
        input-processors = <
            &zip_xy_transform INPUT_TRANSFORM_X_INVERT
            &zip_xy_to_scroll_mapper
            &zip_scroll_scaler 1 4  // 1/4x scroll speed
        >;
    };
};